# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Chris Straka
	email = c@z.local
[credential]
	helper = osxkeychain
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
